@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Karla', sans-serif;
}



/* learning to save root content with var options *NOTE* works very well */
:root {
    --bg-color: #000000;
    ---first-bg-color: #333233;
    --text-color: #fff;
    ---main-color: #3186af;
}
html {
    font-size: 70%;
    overflow: scroll;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
section {
    /* min-height: 50vh; <<<< breaks projects (why?) */
    padding: 2rem 10% 2rem;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 10%;
    top: 0;
    left: 0;
    align-items: center;
    background: var(---main-color);
}



/* nav bar content *NOTE* would like to make it more fancy one day  */
.logo {
    font-size: 5rem;
    font-weight: 700;
    color: var(--text-color);
    cursor: default;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    font-size: 1.8rem;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    color: var(---first-bg-color);
    transition: 3s ease;
}
.navbar a{
    padding: 10px;
}
.navbar a:hover,
.navbar a.active {
    color: var(--text-color);
}



/* my personal area */
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#000000,#333233,#000000 );
}
.intro img {
    border-radius: 50%;
    box-shadow: 0 0 30px var(---main-color);
    border: 3px solid var(---main-color);
    
}
.introtext h3 {
    font-size: 3.5rem;
    font-weight: 700;
}
.introtext h3:nth-last-of-type(2) {
    margin-bottom: 2rem;
}
span {
    color: var(---main-color);
    text-shadow: 0 0 30px var(---main-color);
    padding-right: 40px;
}
.introtext h1 {
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.5;
}
.introtext p {
    font-size: 1.6rem;
    padding-right: 5rem;
}



/* free icons from fontawesome **NOTE** make social accounts for DEV */
.socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: 3px solid var(---main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(---main-color);
    margin: 3rem 2rem 3rem 0;
    transition: 3s ease;
}
.socials a:hover {
    color: var(---first-bg-color);
    background: var(---main-color);
    box-shadow: 0 0 30px var(--main-color);
}
.btn {
    display: inline-block;
    padding: 2rem 3rem;
    border-radius: 5rem;
    box-shadow: 0 0 30px var(---main-color);
    background: var(---main-color);
    letter-spacing: .1rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(---first-bg-color);
    transition: 2s ease;
}
.btn a:hover {
    box-shadow: none;
}



/* about me section **NOTE** add fun icons later w/ matching blue border glow  */
.aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: auto;
    background-image: url(./images/background1.png);
    background-position: center;
    background-size: cover;
}
.aboutmeimg img {
    display: flex;
    flex-wrap: wrap;
    border-radius: 50%;
    box-shadow: 0 0 40px #bf96d8;
    border: 3px solid  #bf96d8;
}
.title {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
}
.aboutmetext h2 {
    text-align: center;
    line-height: 2.0;
    background: var(--bg-color);
}
.aboutmetext h3 {
    text-align: center;
    font-size: 3.5rem;
    background: var(--bg-color);
}
.aboutmetext p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    background: var(--bg-color);
}



/* Skills ( condense/add more )  **ERROR** "myskills" wont stay above boxes */
.skills h2 {
    flex-wrap: wrap;
    margin-bottom: 5rem;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px;
    text-align: center;
}
.skills{
    text-align: center;
    display:flex;
    align-content: space-between;
    justify-content: space-around;
    background: linear-gradient(#000000,#333233,#000000 );
}
.container {
    display: flex;
    align-items: row;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0 0 40px var(---main-color);
    background: var(---main-color);
    margin: 35px;
}
.container .skillbox {
    flex: 1 1 3rem;
    background: linear-gradient(#3186af, #000000);
    border: .3rem solid var(--text-color);
    padding: 3rem 2rem 4rem;
    text-align: center;
    transition: 3s ease;
}
.container .skillbox {
    border-color: var(---main-color);
    transform: scale(1);
}
.skillbox i {
    font-size: 10rem;
    color: var(--bg-color);
}
.skillbox h3 {
    font-size: 2.5rem;
}
.skillbox p {
    font-size: 1.5rem;
    margin: 1rem 0 3rem;
}


/* projects , add and remove as needed for future , *see html note* */
.projects {
    display: grid;
    flex-wrap: wrap;
    align-content: space-between;
    background-image: url(./images/background1.png);
    background-position: center;
    background-size: cover;
}
.projects h2 {
    margin-bottom: 5rem;
}
.pcontainer {
    display: grid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2.5rem;
}
.pcontainer .projectbox {
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 0;
}
.projectbox img {
    width: 100%;
    transition: 2s ease;
}
.projectbox:hover img {
    transform: scale(1.1);
}
.projectbox .player {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction:row;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(#3186af ,#000000,#3186af );
    align-items: center;
    text-align: center;
    padding: 0 5rem;
    transform: translateY(100%);
    transition: 2s ease;
    

}
.projectbox:hover .player {
    transform: translateY(0);
}
.player h4 {
    font-size: 2.5rem;
}
.player p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #d12929;
}
.player a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 0%;
    background: var(--text-color);
}
.player a i {
    font-size: 2rem;
    color: var(---main-color);
}


/* updated contact box , NOTE add javascript? , and relink socials */
.contact{
    background: linear-gradient(#000000,#333233,#000000 );
}
.contact h2 {
    margin-bottom: 3rem;
    
}
.csocials{
    padding-left: 34rem;
}
.csocials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: 3px solid var(---main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(---main-color);
    margin: 3rem 2rem 3rem 0;
    transition: 3s ease;
}
.csocials a:hover {
    color: var(---first-bg-color);
    background: var(---main-color);
    box-shadow: 0 0 30px var(--main-color);
}
.contact form {
    max-width: 80rem;
    margin: auto;
    margin-bottom: auto;
    text-align: center;
    
}
.contact form .messagebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact form .messagebox input,
.contact form textarea {
    width: 100%;
    padding: 2rem;
    font-size: 1.5rem;
    margin: .6rem 0;
    color: var(--text-color);
    background: var(---main-color);
}
.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}




/* footer , add icons ? cat ? */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
    background: var(---main-color);
    box-shadow: 0 0 30px var(---main-color);
    border: 3px solid var(---main-color);
}
.footertext p {
    justify-content: center;
    text-align: center;
    padding-left: 37rem;
    font-size: 1.5rem;
}


/*Device Screen Sizes **ERROR** cant add or it breaks webpage, will have to update in the future , I can view it on my cell phone no issue*/
@media screen and (max-width: 992px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 600px) {}