@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&display=swap');

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 border: none;
 outline: none;
 text-decoration: none;
 scroll-behavior: smooth;
 font-family:'Karla', sans-serif;
}



/* learning to save root content with var options  **NOTE** find better font */
:root {
    --bg-color: #000000;
    ---first-bg-color: #bf96d8;
    --text-color: #fff;
    ---main-color: #3186af;
}
html{
    font-size: 70%;
    overflow: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 10% 2rem;
}
.header {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 2rem 10%;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    background: var(---main-color);
}



/* nav bar content **NOTE** text colour isnt working from root  */
.logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: default;
}
.navbar {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: left;
    transition: 3s ease;
}
.navbar a:hover,
.navbar a.active {
color:var(--main-color)
}

/* how to make it only show up for mobile users ????? */
#dropdown {
    font-size: 4rem;
    color: var(--text-color);
    display: none;
}



/* my personal area */
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro img {
 border-radius: 50%;
 box-shadow: 0 0 30px var(---main-color);
 border: 3px solid var(---main-color);
}
.introtext h3 {
    font-size: 3.5rem;
    font-weight: 700;
}
.introtext h3:nth-last-of-type(2){ 
    margin-bottom: 2rem;
}
span{
    color: var(---main-color);
    text-shadow:0 0 30px var(---main-color);
}
.introtext h1 {
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.5;
}
.introtext p {
    font-size: 1.6rem;
}




/* free icons from fontawesome ***NOTE** images arnt linking ? */
.socials a {
display: inline-flex;
align-items: center;
justify-content: center;
width: 5rem;
height: 5rem;
background: transparent;
border: 3px solid var(---main-color);
border-radius: 50%;
font-size: 2rem;
color: var(---main-color);
margin: 3rem 2rem 3rem 0;
transition: 3s ease;
}

.socials a:hover {
    color: var(---first-bg-color);
    background: var(---main-color);
    box-shadow: 0 0 30px var(--main-color);
}

.btn {
    display: inline-block;
    padding: 2rem 3rem;
    border-radius: 5rem;
    box-shadow: 0 0 30px var(---main-color);
    background: var(---main-color);
    letter-spacing: .1rem;
    font-size: 1.8rem;
    font-weight: 700;
    color:var(---first-bg-color);
    transition: 2s ease;

}
.btn a:hover{
    box-shadow: none;
}


/* about me section **NOTE** add fun icons later w/ matching blue border glow  */
.aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: var(--bg-color)
}
.aboutmeimg img{
    opacity: 0.7;
    border-radius: 50%;
    box-shadow: 0 0 30px var(---main-color);
    border: 3px solid var(---main-color);
}
.title {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
}
.aboutmetext h2 {
    text-align: right;
    line-height: 2.0;
}
.aboutmetext h3 {
    font-size: 3.5rem;
}
.aboutmetext p {
   font-size: 1.6rem;
   margin: 2rem 0 3rem;
}

/* skills NOTE combine coding to one box , add extra content after course */
.skills h2 {
    margin-bottom: 5rem;
}
.skillbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.skills .skillbox {
flex: 1 1 30rem;
background: linear-gradient(#3186af,#000000);
padding: 3rem 2rem 4rem;
border-radius: 2rem;
text-align: center;
}



































